<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.mapper.UserMapper">

    <update id="updateById" parameterType="com.hngy.entity.dto.UserDTO">
            update club_user
            <set>
                <if test="username != null and username !=''">
                    username = #{username},
                </if>
                <if test="avatar != null and avatar !=''">
                    avatar = #{avatar},
                </if>
                <if test="gender != null and gender !=''">
                    gender = #{gender},
                </if>
                <if test="mobile != null and mobile !=''">
                    mobile = #{mobile},
                </if>
                <if test="email != null and email !=''">
                    email = #{email},
                </if>
                <if test="studentId != null and studentId !=''">
                    student_id = #{studentId},
                </if>
                <if test="college != null and college !=''">
                    college = #{college},
                </if>
                <if test="major != null and major !=''">
                    major = #{major},
                </if>
                <if test="className != null and className !=''">
                    class_name = #{className},
                </if>
            </set>
        where id = #{id}
    </update>
</mapper>
